


// 成功
.flash-success{
    background-color: white;
}
//info
.flash-info{
    background-color: azure;
}
//warnig
.flash-warnig{
    background-color: #ffff80;
}
// 失敗
.flash-danger{
    background-color: tomato;
    color: white;
}
