

$mein_color: #ff4a4a;



// fontの設定
h1 h2,h3,h4,h5,h6,ul, li ,p, div,span, strong, b,  a{
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', 
    Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}


//メインコンテナの幅
.main__continer {
        width: 95%;
}


.about__continer__bg{
    padding: 50px;
}

.about__continer{
    width: 90%;
    margin: auto;
}
.about__title{
    text-align: center;
}

// カードの設定
.card{
    // padding: 20;
    margin-bottom: 20px;
}
body{
    background-color: Menu;
    // background-color: white;
}

.bg__danger{
    background-color: tomato;
}
.row{
    margin: 0px;
    padding: 0px;
}
.col-2,
.col-3,
.col-4,
.col-6,
.col-8,
.col-9{
    // margin: 0px;
    padding: 0px;
}
.bg__red{
    background-color: $mein_color;
    color: white; 
}
.login_button{
    color: black;
    // padding: 10px 15px;
    margin-right: 15px;
    cursor: pointer;
    transition-duration: 0.3s;
}
.login_button:hover{
    color: gray;
}
// mypage　上部　ステータスバー
.Statusbar{
    list-style: none;
    font-size:0px;
    padding: 0px;
    margin: 0px;
    background: white;
    
}
.Statusbar__item{
    display: inline-block;
    position: relative;
    height:100px;
    width: 150px;
    padding: 15px;
}
.Statusbar__item__title{
    color: gray;
    font-size: 15px;
    font-weight: bold;
}
.Statusbar__item__content{
    font-size: 35px;
    position:absolute;
    bottom: 5px;
    right: 5px;
    font-weight: bold;
}
.Statusbar__item__content small{
    font-size: 18px;
    color:gray;
}


.StatusCard{
    height:170px;
    overflow: hidden;
}
.StatusCard__title{
    margin-top: 15px;
    position: relative;
}
.StatusCard__title span{
    font-weight: bold;
}
.StatusCard__title strong{
    position:absolute;
    right:5px;
    color:gray;
}
.StatusCard__content{
    line-height: 120px;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}
.StatusCard__content i{
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -25px;
}
.bg__menu{
    background-color: Menu;
}
// フラッシュ
.flash__form{
    height: 50px;
    overflow: hidden;
}
.flash-edit{
    background-color: mediumseagreen;
    color:white;
}

// ヘッダー
.header__title{
    font-size:35px;
    font-weight: bold;
    color:black;
    cursor: pointer;
}
.header__nowtime{
    margin-left: 15px;
    font-weight: bold;
}
.DoughnutChart{
    position: relative;
}
.DoughnutChart__content{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    line-height: 100px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: rgba(255, 74, 74, 0.9);
    
}




// // Home.vue
// .card_item{
//     display: inline-block;
//     /*background-color:  rgba(69, 204,130, 0.9);*/
//     /*color:  rgba(69, 204,130, 0.9);*/
//     background-color:  white;
//     color: black;
//     border: solid 1px white;
//     width:20%; 
//     margin-left:  -3px;
// }
// .card_item i{
//     line-height: 100px;
// }
// .card-title b{
//     font-size: 35px; 
// }
// .bg__green{
    
//     background-color:  rgba(69, 204,130, 0.9);
//     color:  white;
// }
// .bg__blue{
//     background-color:  rgba(30 ,144,255, 0.9);
//     color:  white;
// }
// .bg__woman{
//   background-color:  rgba(255,77,112,0.9);
//     color:  white;
// }


.ranking_card{
    padding: 15px;
    background-color: coral;
    color: white; 
}
.map__image{
    width: 100%;
}
.bg_indigo{
    background-color: mediumseagreen;
    color:white;
}
