
$mein_color: #ff4a4a;


body{
    // background-color: whitesmoke;
}

.bg__danger{
    background-color: tomato;
}
.row{
    margin: 0px;
    padding: 0px;
}
.col-2{
    margin: 0px;
    padding: 0px;
}
.bg__red{
    background-color: $mein_color;
    color: white; 
}