

$mein_color: #ff4a4a;



// fontの設定
h1 h2,h3,h4,h5,h6,ul, li ,p, div,span, strong, b,  a{
    font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', 
    Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}


//メインコンテナの幅
.main__continer {
        padding: 0px 20px;
        // padding: 0px 1.5rem;
}
@media screen and (max-width:760px){
    .main__continer{
        padding: 0px;
    }
}

.about__continer__bg{
    padding: 50px;
}

@media screen and (max-width:760px){
    .about__continer__bg{
        padding: 10px;
    }
}


.about__continer{
    width: 90%;
    margin: auto;
}
.about__title{
    text-align: center;
}


// カードの設定
.card{
    // padding: 20;
    margin-bottom: 20px;
}
body{
    background-color: Menu;
    // background-color: white;
}

.bg__danger{
    background-color: tomato;
}
.row{
    margin: 0px;
    padding: 0px;
}
.col-2,
.col-3,
.col-4,
.col-6,
.col-8,
.col-9{
    // margin: 0px;
    padding: 0px;
}

// テーマ用のバックグランドからー
.bg__red{
    background-color: $mein_color;
    color: white; 
}


// ヘッダー
.header__button{
    display: none;
}
@media screen and (max-width:991px){
    .header__button{display: inline-block;}
}





.login_button{
    color: black;
    // padding: 10px 15px;
    margin-right: 15px;
    cursor: pointer;
    transition-duration: 0.3s;
}
.login_button:hover{
    color: gray;
}
// mypage　上部　ステータスバー


//location sex month
.myimage{
    width: 100px;
}

@media screen and (max-width:991px){
    .myimage{
        width: 50px;
    }
}



.text__gray{  color: gray; }





.bg__menu{
    background-color: Menu;
}
// ヘッダー
.header__title{
    font-size:35px;
    font-weight: bold;
    color:black;
    cursor: pointer;
}
.header__nowtime{
    margin-left: 15px;
    font-weight: bold;
}
.DoughnutChart{
    position: relative;
}
.DoughnutChart__content{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    line-height: 100px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: rgba(255, 74, 74, 0.9);
}





.ranking_card{
    padding: 15px;
    background-color: coral;
    color: white; 
}
.map__image{
    width: 100%;
}
.bg_indigo{
    background-color: mediumseagreen;
    color:white;
}


// フラッシュ
.flash__form{
    height: 50px;
    overflow: hidden;
}
.flash-edit{
    background-color: mediumseagreen;
    color:white;
}

// フラッシュ
// 成功
.flash-success{
    background-color: white;
}
//info
.flash-info{
    background-color: azure;
}
//warnig
.flash-warnig{
    background-color: #ffff80;
}
// 失敗
.flash-danger{
    background-color: tomato;
    color: white;
}
