
.ranking__tab{
    text-align: center;
}
.ranking__tab__item{
    cursor:pointer;
}
.select__ranking{
    border-bottom: 2px solid coral;
    padding-bottom:  15px;
    color: coral;
}
.rankig__page{
    width: 65%;
    margin: auto;
}

@media screen and (max-width:991px){
    .rankig__page{
        width: 80%;
    }
}

@media screen and (max-width:760px){
    .rankig__page{
        width: 95%;
    }
}

.ranking__title{
    margin: 50px;
    text-align: center;
}

/*ランキングカード・順番*/
.rank__1{color: gold;}
.rank__2{color: silver;}
.rank__3{color: #cc7a7a;}

/*ランキングカード*/
.ranking__card{
    list-style:none;
    height: 150px;
    margin-bottom: 30px;
    font-size: 0px;
    padding: 0px;
}
.ranking__card li{
    display: inline-block;
    vertical-align: middle;
}
.rankig__card__number {
    display: inline-block;
    line-height: 150px;
    width: 150px;
    font-size: 45px;
    text-align: center;
}
.rankig__card__user {
    vertical-align: middle;
    display: inline-block;
    font-size: 18px;
    width: 35%;
    overflow: hidden;
}
.rankig__card__user img {
    width: 80px;
    border-radius: 80px;
}
.rankig__card__user span {
    vertical-align: middle;
}
.rankig__card__count{
    width: 20%;
    text-align: center;
}
.rankig__card__count__span{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 23px;
}
.rankig__card__count__small{
    font-size: 18px;
}
.rankig__card__point {
    display: inline-block;
    line-height: 150px;
    float: right;
    margin-right: auto;
    vertical-align: middle;
    font-size: 28px;
}



// レスポンシブ
@media screen and (max-width:991px){
 
    .ranking__card{
        margin-bottom: 15px;
    }
    .rankig__card__number {
        width: 100px;
        font-size: 30px;
    }
    .rankig__card__user img {
        width: 80px;
    }
}

@media screen and (max-width:760px){
 
    .ranking__card{
        height: 75px;
    }
    .rankig__card__number {
        width: 50px;
        font-size: 20px;
    }
    .rankig__card__user  img  {
        width: 35px;
    }
    .rankig__card__user{
        font-size: 15px;
    }
    .rankig__card__count__span{
        font-size: 18px;
    }
    .rankig__card__point {
        background-color: red;
        display: none;
        font-size:0px;
    }

}
