
.ranking__tab{
    text-align: center;
}
.ranking__tab__item{
    cursor:pointer;
}
.select__ranking{
    border-bottom: 2px solid coral;
    padding-bottom:  15px;
    color: coral;
}
.rankig__page{
    width: 65%;
    margin: auto;
}
.ranking__title{
    margin: 50px;
    text-align: center;
}

/*ランキングカード・順番*/
.rank__1{color: gold;}
.rank__2{color: silver;}
.rank__3{color: #cc7a7a;}

/*ランキングカード*/
.ranking__card{
    list-style:none;
    height: 150px;
    margin-bottom: 30px;
    /*box-shadow: 0 2px 4px rgba(0,0,0,0.3);*/
    font-size: 0px;
    padding: 0px;
}
.ranking__card li{
    display: inline-block;
    vertical-align: middle;
}
.rankig__card__number {
    display: inline-block;
    line-height: 150px;
    width: 150px;
    font-size: 45px;
    text-align: center;
}
.rankig__card__user {
    vertical-align: middle;
    display: inline-block;
    font-size: 18px;
    width: 250px;
}
.rankig__card__user img {
    width: 80px;
    border-radius: 80px;
}
.rankig__card__user span {
    vertical-align: middle;
}
.rankig__card__count{
    text-align: center;
}
.rankig__card__count__span{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 23px;
}
.rankig__card__count__small{
    font-size: 18px;
}
.rankig__card__point {
    display: inline-block;
    line-height: 150px;
    float: right;
    margin-right: auto;
    vertical-align: middle;
    font-size: 28px;
    /*width: 30%;*/
}