// レスポンシブ専用の可変アイテム
.col-lg-3{
    padding-left: 20px;
}
@media screen and (max-width:991px){
    .col-lg-3{
        padding: 0px;
    }
    .col-lg-10{
        padding: 0px;
    }
}


// タブレット以下の時に非表示
@media screen and (max-width:991px){
    .display_lg-none{
        display:none;
    }
    .display_lg-block{
        display:none;
    }
}

.display_sm-none{}
.display_sm-block{}
// スマホサイズ以下の時に非表示
@media screen and (max-width:760px){
    .display_sm-none{
        display:none;
    }
    .display_sm-block{
        display:none;
    }
}
